html
{
	background:#eee
}

body
{
	margin:17px 0 15px 0;padding:0;text-align:center;font-size:small;font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif
}

article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object,output
{
		display:block
}

#container
{
	text-align:left;background:#fff;border:1px solid #ccc;-webkit-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;-o-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;box-shadow:rgba(0,0,0,0.2) 0px 0px 5px
}

#container
{
	margin:0 auto 10px auto;width:640px
}

form.wufoo
{
	margin:20px 14px 0 14px;padding:0 0 20px 0;position:relative
}

#logo
{
	margin:0;padding:0;min-height:0;background-color:#dedede;text-indent:-9000px;text-decoration:none
}

#logo a
{
	min-height:40px;height:40px;display:block;background:url(../images/wflogo.png) no-repeat left top;overflow:hidden
}
	/* * html #logo a{_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop")}img,a img{border:none;-ms-interpolation-mode:bicubic}.hide,.cloak div,.cloak span,.likert.cloak tbody,.likert.cloak thead{display:none !important}.likert.cloak table{border:none}*/

button.btTxt
{
	clear:both;
	margin-left:450px;
	width:125px;
	height:31px;
	background:#666666 url(../images/backgr.jpg) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

#container input.boton{
	clear:both;
	background:#666666 url(../images/backgr.jpg) no-repeat;
	text-align:center;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

#container input.boton2{
	clear:both;
	text-align:center;
	color:#777777;
	font-size:11px;
	font-weight:bold;
}

/*------------------------------------------------------------------------------
    More Info Expander
------------------------------------------------------------------------------*/

.more-info {
  margin: 10px 0;
  position: relative;
}
.more-info > h4{
  background-image: url('../images/dropdown_sprites.jpg');
  background-repeat: no-repeat;
  padding: .25em 0 .25em 25px;
  cursor: pointer;
  color: #4183C4;
  font-weight: normal;
}
.more-info h4.compressed {
  background-position: 0 0;
}
.more-info:hover h4.compressed {
  background-position: 0 -23px;
}
.more-info h4.expanded {
  background-position: 0 -46px;
}
.more-info:hover h4.expanded {
  background-position: 0 -69px;
}

.more-info .more-content {
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 3px solid #DDDDDD;
  padding: 1em 2em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 15px 0 30px;
}

.more-info .more-content h4 {
  margin-top: 1em;
}

.more-info .more-content-in {
  display: none;
}