a
{
	color:#FFF;
}


body
{
	font-size:14px;
	margin:5px;
	padding:0;
}


header h1
{
	font-size:3em;
}


img
{
	border:0;
	outline:0;
}

#player
{
	background:rgba(200,200,200,0.5);
	border-radius: 1em;
	margin:4em auto;
	width:400px;
}

/* INICIA CSS 'CABECERA' DE REPRODUCTOR*/
#controls
{
	background: rgba(200,200,200,0.5);
	border-radius: 1em 1em 0 0;
	height: 6em;
	margin:0 auto;
	width:100%;
}
	
/*TITULO DE LA CANCIÓN*/
#songTitle
{
	border-radius:1em 1em 0 0;
	display:block;
	font-family:'Passion One';
	font-size:0.9em;
	height:25%;
	line-height:1.7em;
	margin:0 auto;
	overflow:hidden;
	padding:3px;
	text-align:center;
	white-space:nowrap;
	width:90%;
}

/*Inicia CSS controles y barra de progreso*/
#playertrols
{
	display:block;
	height:40%;
	width:100%;
}

#plauseStop
{
	display:inline-block;
	margin:0 7% 0 14%;
	height:16px;	
	width:50px;
}

#plause
{
	background: url(../images/play.png);
	cursor:pointer;
	display:inline-block;
	height:16px;
	width:17px;
}

#stop
{
	background: url(../images/stop.png);
	cursor:pointer;
	display:inline-block;
	margin-left:5px;
	height:16px;
	width:17px;
}

#progressBar
{
	background:rgba(106,136,106,0.4);
	cursor: pointer;
	display:inline-block;
	height:36px;
	vertical-align:middle;
	width:60%;
}

#timeLoaded
{
	background:rgba(136,223,136,0.4);

	height:36px;
	width:50%;
}

#timePlayed
{
	background:rgba(222,222,222,0.4);

	height:36px;
	margin-top:-36px;
	width:20%;	
}

/*Termina CSS controles y barra de progreso*/

#volumeTime
{
	display:block;
	float:right;
	margin-right:4%;
	width:50%;
}

#volumeBar
{
	background:rgba(20,20,190,0.5);
	border-radius:40px;
	display:inline-block;
	height:10px;
	width:40%;
}

#ballVolume
{
	background:rgba(245,245,245,0.5);
	border-radius:60px;
	cursor:pointer;
	height:100%;
	left:50%;
	width:10px;
	position:relative;
}

#timeStatus
{
	display:inline-block;
	font-family:'Viga';
	font-size:0.7em;
	margin-left: 15%;
}


/*TERMINA CSS PARA 'CABECERA' DE REPRODUCTOR*/


/*Inicia CSS Playlist*/
#playlist
{
	display:block;
	width:100%;
}

#tracks
{
	margin: 1em 0 0 0;	
	width:100%;
}

.track
{
	background: rgba(213,213,213,0.5);
	cursor:pointer;
	display:block;
	font-family:'Cabin Condensed';
	height:1.5em;
	line-height:1.5em;
	margin-bottom:0.18em;
	width:100%;
}

.track:hover
{
	background: rgba(192,247,192,0.6);
}

.track span
{
	margin-left:1.5em;
}

.trackPlaying
{
	background: rgba(192,247,192,0.5);
}

#playlistControl
{
	background: rgba(100,200,100,0.5);
	border-radius: 0 0 1em 1em;
	cursor:pointer;
	display:block;
	height:2em;
	line-height:2em;
	margin-top:1em;
	text-align:center;
	width:100%;
}

/*Termina CSS Playlist*/


#currentTime
{
	background:url(../images/currentTimeBG.png);
	display: none;
	font-size:0.7em;
	height:23px;
	padding:1px 0 1px 0;
	position:absolute;
	text-align:center;
	width:35px;
}

#html5Valid
{
	margin:2em auto;
	width:3.5em;
}

#html5Valid img
{
	width:100%;
}


/* slider root element */
.slider { 
	background:rgba(80,190,80,0.5);
	display: inline-block;
	height:9px; 
	margin-top: 5px;
	position:relative;
	width:50%;
	border-radius:5px; 
}


/* drag handle */

.handle { 
	background:rgba(250,250,250,.7);
	border-radius:60px;
	height:9px;
	width:9px;
	left:25%;
	position:relative; 
	display:block; 	
	cursor:pointer;
}

/* the input field */
.range {
	display: none;
}